.mugbar {
    float: left;
    width: 285px;
    text-align: center;
}

.article {
    float: left;
    width: 580px;
}

.article h1 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 0.95em;
    margin: 5px 0 0 0;
}

.thumb {
    margin: 0 10px 20px 10px;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.author {
    padding: 15px 0 0 0;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    font-weight: bold;
}

.bio {
    border-top: 1px solid rgba(0,0,0, 0.1);
    padding: 5px 0 0 0;
    font-style: italic;
    color: rgba(0,0,0, 0.7);
    font-size: 0.8em;
}

#content {
    padding-top: 20px;
}
